<style>
    
    ul.contact {
        margin: 26px 0 56px 7px;
    }

        ul.contact li {
            margin: 15px 0;
            color: #ffffff;
        }

        ul.contact i {
            color: #ed2b45;
            width: 30px;
        }
</style>


<section id="contato">
    <div class="container">
        <h2 class="title">Contato</h2>
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("Contato", "Home", FormMethod.Post, new { @class = "form-contato" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <label class="title small" for="name">Nome</label>
                        <input type="text" placeholder="Nome" name="name" id="name" class="text name required" required="">
                    </div>

                    <div class="form-group">
                        <label class="title small" for="email">E-mail</label>
                        <input type="email" placeholder="Email" name="email" id="email" class="text email required" required="">
                    </div>

                    <div class="form-group">
                        <label class="title small" for="message">Mensagem:</label>
                        <textarea name="message" class="text area required" id="message" placeholder="Escreva sua mensagem..." required=""></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-invert">Enviar</button>
                    </div>
                }

            </div>
            <div class="col-md-6">
                <ul class="contact">
                    <li><i class="fa fa-mobile-phone "></i>(51) 8314-8448</li>
                    <li><i class="fa fa-envelope"></i> contato@gabior.com.br</li>
                </ul>
                <ul class="social-links">
                    <li><a target="_blank" href="https://www.facebook.com/oficialgabior"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/eugabior"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UC-6J3pIr5JmpMaj-m-gSxlQ"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a target="_blank" href="https://br.pinterest.com/eugabior/"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
    @*<div class="fb-comments" data-href="http://www.gabior.com.br/" data-numposts="5"></div>*@
</section>
