@{
    ViewBag.Title = "Gabi Ór";
}

<section class="principal">
    <section data-component="block" id="indexNew" class="content" style="height: 667px;">
        <article class="container">
            <div class="box">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1 class="logo hidden-el visible-el animated fadeInLeftBig"><a href="" title="La Republica"><img src="Content/img/la-republica-index.png" alt="La Republica"></a></h1><p class="hidden-el visible-el animated fadeInLeftBig">Produção de Design de<br> Experiência do Usuário</p>
                        <br><small><i>em breve novo site :)</i></small>
                    </div>
                </div>
            </div>

        </article>
        <div class="bottom">
            <div class="icon-home icon-play"></div>
            <a href="mailto:contato@larepublica.com.br" title="Fale com a gente!" alt="E-mail para contato com a La Republica: contato@larepublica.com.br" class="btn black">
                contato@larepublica.com.br
            </a>
        </div>
    </section>
</section>