@{
    ViewBag.Title = "Gabi Ór";
}

<section class="principal">
    <section data-component="block" id="indexNew" class="content" style="height: 667px;">
        <article class="container">
            <div class="box">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1 class="logo">
                            <a href="#" title="La Republica">
                            <img src="~/Images/logo/gabiWhite.png" alt="Gabi Or"></a>
                        </h1><p class="hidden-el visible-el animated fadeInLeftBig">Gabi ór<br> Musicista</p>
                        <br><small><i>em breve novo site :)</i></small>
                    </div>
                </div>
            </div>

        </article>
        <div class="bottom">
            <div class="icon-home icon-play"></div>
            <a href="mailto:gabior@gmail.com.br" title="Entre em contato!" alt="E-mail para contato com Gabi Ór: contato@larepublica.com.br" class="btn black">
                gabior@gmail.com.br
            </a>
        </div>
    </section>
</section>

@{ Html.RenderPartial("Contato"); }