@{
    ViewBag.Title = "Gabi Ór";
}
<section id="home">
    <div class="container">
        <div>

        </div>
    </div>
</section>

@{ Html.RenderPartial("Projeto");}
@{ Html.RenderPartial("Aula");}
@{ Html.RenderPartial("Sobre");}
@{ Html.RenderPartial("Social");}
@{ Html.RenderPartial("Contato");}
@{ Html.RenderPartial("Footer");}